$white: #fff;
$black: #000;

$active-color: #5d5fef;

$border-button: 1px solid #e2e3e5;
$border-button_active: 2px solid #5d5fef;
$border-dashed: 2px dashed #c4c4c4;

$light-text-color: #6b7280;
$text-color: #4d5562;
$dark-text-color: #111827;

$light-background: #f3f4f6;
$active-background: #f0f9ff;
