$white: #fff;
$black: #000;

$active-color: #5D5FEF;

$border-button: 1px solid #e2e3e5;
$border-button_active: 2px solid  #5d5fef;
$border-dashed: 2px dashed #c4c4c4;

$light-text-color: #6B7280;
$text-color: #4D5562;
$dark-text-color: #111827;

$light-background: #F3F4F6;
$active-background: #F0F9FF
